.column {
	border-radius: 7px;
	/* border: 10px solid; */
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	height:100%;
	/* display: flex; */
	/* float: left;  */
}


.form-inline {
	padding: 5px;
}
.dockbtn {
	display: inline;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px solid black;
	margin: auto;
	font-family: 'Righteous', cursive;
}
.column_wrapper {
	padding: 10px;
	float: left;
	height: auto;
} 

body {
	color: white;
    position: fixed; 
    overflow: hidden;
    width: 100%;
}

#page_viewer {
	width: 100%;
	/* padding: 20px; */
	position: fixed; 
	overflow: hidden;
}
#dockToggleButton {
	width: 100px;
	bottom: 0px;
	/*position: absolute;*/
}

.delete {
    background: red;
    border-radius: 50%;
}

li {
	font-family: 'Lato', sans-serif;
}

h5 {
	font-family: 'Lato', sans-serif;
}

button {
	font-family: 'Lato', sans-serif;
}